**/*.swp
public
env
env2
.venv
.env
**/env
.vscode
**/*pyc
**/__pycache__/
.qt_for_python
/parametres_locaux/**
**/credentials_bdd.json
rc_resources.py
resources_rc.py
agirisk_dialog_base_ui.py
drvi_dialog_base_ui.py
classes/log.txt
/scripts/installation/_commun/*.sql
/scripts/installation/_commun/*.7z
/scripts/installation/_dep/*.7z
/scripts/installation/_dep/d*/**
/resultats/